<!-- Header -->
<%- include("partials/header.ejs") %>

<!-- Main Body -->
<main>
  <div class="bookDetails">
    <img
      src="https://covers.openlibrary.org/b/<%= book[0].cover_key %>/<%= book[0].cover_value %>-M.jpg"
      loading="lazy"
      alt="<%= encodeURIComponent(book[0].title) %> by <%= book[0].author %> book cover"
    />
    <h2><%= book[0].title %> - by <%= book[0].author %></h2>
    <small>
      <p>Date read: <%= book[0].date_read.toISOString().substring(0, 10) %></p>
      <p>Rating: <%= book[0].rating %>/10</p>
    </small>

    <% if (url.includes("edit") === true) { %>

    <form
      action="/book/<%= encodeURIComponent(book[0].title) %>/<%= book[0].id %>/edited"
      method="POST"
      class="buttonBook"
    >
      <textarea name="notes"><%= book[0].notes %></textarea>
      <button type="submit" class="edit">Save</button>
    </form>

    <% } else { %>

    <p><%= book[0].notes %></p>

    <div class="buttons">
      <form
        action="/book/edit/<%= encodeURIComponent(book[0].title) %>/<%= book[0].id %>"
        method="POST"
        class="buttonBook"
      >
        <button type="submit" class="edit">Edit</button>
      </form>

      <form
        action="/book/delete/<%= encodeURIComponent(book[0].title) %>/<%= book[0].id %>"
        method="POST"
        class="buttonBook"
      >
        <button type="submit" class="delete">Delete</button>
      </form>
    </div>
    <% } %>
  </div>
</main>

<!-- Footer -->
<%- include("partials/footer.ejs") %>
