<%- include("partials/header.ejs") %>

<main>
  <div>
    <% for(let book of listBooks){%>
    <div class="book">
      <img
        src="https://covers.openlibrary.org/b/<%= book.cover_key %>/<%= book.cover_value %>-M.jpg"
        width="180"
      />
      <p id="title<%=book.id%>"><%= book.title %> by <%= book.author %></p>
      <p><%= book.rating %></p>
      <p>
        <%= book.date_read.getFullYear() %>-<%= book.date_read.getMonth() + 1
        %>-<%= book.date_read.getDate() %>
      </p>
      <p><%= book.notes %></p>
    </div>
    <% } %>
  </div>
</main>

<%- include("partials/footer.ejs") %>
