<%- include("partials/header.ejs") %>

<main>
  <div>
    <% for(let book of listBooks){%>
    <div class="book">
      <img
        src="https://covers.openlibrary.org/b/<%= book.cover_key %>/<%= book.cover_value %>-M.jpg"
        width="180"
      />
      <p>
        <a href="book/<%= encodeURIComponent(book.title) %>/<%= book.id %>" id="title<%=book.id%>"><%= book.title %> by <%= book.author %></a>
    </p>
      <p><%= book.rating %></p>
      <p>
        <%= book.date_read.toISOString().substring(0, 10) %>
      </p>
      <p><%= book.notes %></p>
    </br>
    </div>
    <% } %>
  </div>
  <div>
    <form action="/user" method="post">
      <button type="submit" id="add">Add</button>
    </form>
  </div>
</main>

<%- include("partials/footer.ejs") %>
